<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница | Интернет провайдер</title>
    <link href="{{url_for('static', filename='style_sem2.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
	<nav>
		<div class="nav_block">
			<a href="/" ><h2 class="navigation">Главная</h2></a>
			<a href ="{{url_for('bp_basket.start')}}"><h2 class="navigation" >Корзина</h2></a>
			<a href = "/exit"><h2 class="navigation" id="exit">Выйти</h2></a>
		</div>
	</nav>
	<center>
		<div class="rectangle">
			<h1 id="welcome">Добро пожаловать!</h1>
			<br><br>
			<h2>Вы пользуетесь правами внешнего пользователя.</h2>
		</div>
	</center>
</body>
</html>