<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
    <link href = "{{url_for('static', filename = 'style_sem2.css')}}"
          rel = "stylesheet" type = "text/css">
</head>
<body>
<center>
    <div class="rectangle">
        <h1>Вам необходимо авторизироваться</h1>
        <br><br>
        <form action = "" method = "POST">
            <label for = "login">login</label>
            <input type = "text" name = "login" id = "login">
            <!-- В label "for" и в input "id" одинаковые -->
            <br><br>
            <label for = "password">password</label>
            <input type = "password" name = "password" id = "password">
            <br>
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% else %}
                <br><br><br>
            {% endif %}
            <input type = "submit" class = "button" value = "Войти">
            <input type = "reset" class = "button" value = "Очистить">
        </form>
    </div>
</center>

</body>
</html>